@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-gray-50 text-gray-900; }

/* Make app take full-screen on mobile */
.app-full { min-height: 100vh; display: flex; flex-direction: column; }
